body{
  background: rgb(241, 241, 241);
  font-family: Verdana;
  max-width: 900px;
  margin: auto;
  
}
.FotoPerfil{
    border-radius: 50%;
}

#title, .subtitle, .post_title{ 
    color: rgb(28, 28, 80);
    margin: 0;
    margin-bottom: 15px;    
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}

.a{
    text-decoration: line-through ;
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    border-top-right-radius: 100;
}

.post{
    background-color: #FFF;
    padding: 15px;
    border: 3px solid rgb(107, 106, 106);
    margin-bottom: 10px ;
    border-radius: 5px;  
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;

}

.contacts_list{
   list-style: none; 
   padding-left: 15px;

}
.contacts_list li a{
   color: blue;
}